# Environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Project Directories
captures/
camera_config.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE / OS Files
.vscode/
.idea/
.DS_Store
*.swp
